.capa {
    background-image: url('../../assets/funcoes.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-position: inherit;
    display: flex;
    position: relative;
}

.conteudo {
    bottom: 80px;
    right: 80px;
    padding: 40px;
    position: absolute;
    background-color: rgba(2, 39, 69, 0.774);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 5px;
    max-width: 550px;
}

.titulo {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.lista {
    margin-top: 8px;
    list-style: none;
}

.itemGuia {
    margin-left: 5px;
}

.itemGuia:first-child {
    margin-left: 0;
    margin-bottom: 3px;
}

@media (max-width: 991px) {
    .capa {
        background-image: url('../../assets/funcoes-p.png');
        min-height: 40vh;
    }
    .conteudo {
        border-radius: 0px;

    }
}

@media (max-width: 600px) {
    .capa {
        background-image: url('../../assets/funcoes-m.png');
        align-items: center;
        min-height: 250px;
    }
    .conteudo {
        padding: 10px;
        bottom: auto;
        right: auto;
    }
    .lista {
        display: none;
    }
}