.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.texto {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.apresentacao, .guia {
    padding: 1rem;
}

.guia {
    padding-top: 0;
}
.titulo {
    color: #253858;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 5px;
}

.lista {
    margin-left: 2rem;
}

.link {
    color: black;
}

.slider {
    padding: 50px;
}

.hr {
    border: 10px;
    border-radius: 8px;
    background: linear-gradient(to right, #03355E, #0784EB);
    height: 5px;
    opacity: 1;
}

@media (max-width: 991px) {
    .conteudo {
        flex-direction: column
    }

    .texto {
        padding: 10px;
    }

    .apresentacao {
        padding: 1rem 3rem;
    }

    .guia {
        padding: 0 3rem;
    }

    .slider {
        padding: 10px;
    }
}