.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.texto {
    padding: 50px;
    width: 50%;
}

.apresentacao, .guia {
    padding: 1rem;
}

.hr {
    width: 20%;
    border: 5px solid #1D4567;
    border-radius: 5px;
}

.slides {
    padding: 10px;
    background-color: #1D4567;
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.foto {
    max-height: 320px;
}

.controles {
    position: absolute;
    bottom: 10px;
    background-color: #1D4567;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 991px) {
    .conteudo {
        flex-direction: column
    }

    .texto {
        padding: 20px;
        width: 100%;
    }

    .foto {
        max-height: 250px;
    }
}