.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.texto {
    padding: 50px;
}

.apresentacao, .guia {
    padding: 1rem;
}

.guia {
    padding-top: 0;
}

.slider {
    padding: 50px;
}

.hr {
    border: 10px;
    border-radius: 8px;
    background: linear-gradient(to right, #03355E, #0784EB);
    height: 5px;
    opacity: 1;
}

@media (max-width: 991px) {
    .conteudo {
        flex-direction: column
    }

    .texto {
        padding: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .apresentacao {
        padding: 1rem 3rem;
    }

    .guia {
        padding-top: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
    }

    .slider {
        padding: 10px;
    }
}