.landing {
    max-width: 100vw;
}

.capa {
    background-image: url("../../../assets/capa.svg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-position: center;
    display: flex;
    position: relative;
}

.conteudo {
    padding: 0 50px;
    margin-top: 20%;
    margin-left: 50%;
    position: absolute;
}

.texto {
    font-family: 'Jost', sans-serif;
}

.banner {
    background-color: rgba(2, 39, 69, 0.774);  
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .capa {
        min-height: 40vh;
        align-items: center;
        background-position: center;
    }

    .conteudo {
        margin-top: 0;
        margin-left: 0;
    }
    
}