.navBar {
    background-color: #03355e !important;
}

.menu {
    padding: 1rem;
    display: flex;
}

.brand {
    color: white;
    text-decoration: none;
}

.lista {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    transition: .4s ease;
    margin-right: 20px;
    color: #f1f1f1;
    cursor: pointer;
}

.item:first-child {
    margin-left: 1rem;
}

.item:hover {
    transform: scale(1.1, 1.1);
}

.link {
    text-decoration: none;
    color: white;
    transition: .4s ease;
}

.link:hover {
    color: gray;
}

.btnNav {
    display: none;
    background-color: #03355e !important;
    color: white;
    border: none;
    position: absolute;
    right: 15px;
    padding: 5px;
    transition: .4s ease;
}

@media screen and (max-width: 500px){
    .menu {
        flex-direction: column;
    }

    .divBrandBtn {
        display: flex;
    }

    .lista {
        flex-direction: column;
        height: auto;
    }

    .item:first-child {
        margin-left: 0;
    }

    .item:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .item {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 10px;
        padding: 20px 0;
    }
    .btnNav {
        display: block;
    }

    .btnNav:hover {
        transform: scale(1.2, 1.2);
    }
}