.footer {
    padding: 20px;
    background-color: #03355e !important;
    color: white;

}

.cartao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lista {
    margin-left: 0px;
    list-style: none;
}

.item {
    display: flex;
    line-height: 1.5rem;
}

.icons {
    margin-right: 5px;
}

.developer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-widht: 991px) {
    .cartao {
        margin-left: 0px;
        background-color: yellow;
    }
    
    .lista {
        margin-left: 0px;
    }
}