.slides {
    padding: 10px;
    background-color: #1D4567 !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.foto {
    max-height: 320px;
}

.controles {
    position: absolute;
    bottom: 10px;
    background-color: #1D4567;
    width: 95.4%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(7, 132, 235, 0.363);  
    backdrop-filter: blur(5px);
    color: #212529;
}

@media (max-width: 991px) {
    .slides {
        padding: 0;
        border-radius: 0px;
    }

    .foto {
        max-height: 220px;
    }

    .controles {
        width: 97%;
        bottom: 0;
    }
}

@media (max-width: 400px) {
    .foto {
        max-height: 190px;
    }
}